BasedOnStyle: Google
Language: Cpp
ColumnLimit: 110

IndentWidth: 4
AccessModifierOffset: -4
BreakConstructorInitializersBeforeComma: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
BreakBeforeBinaryOperators:     NonAssignment
BinPackParameters:	false
BinPackArguments:	false
BreakBeforeBraces: Custom
BraceWrapping:   
  AfterClass:	true
  AfterControlStatement:	true
  AfterEnum:	true
  AfterFunction:	true
  AfterNamespace:	true
  AfterObjCDeclaration:	true
  AfterStruct:	true
  AfterUnion:	true
  BeforeCatch:	true
  BeforeElse:	true
  IndentBraces:	false